<h1>Flights</h1>

<%= form_tag(flights_path, method: "get") do |f|%>
	<%= label_tag(:start_airport_id, "From:") %>
	<%= select_tag(:start_airport_id, options_for_select(@airport_options)) %>

	<%= label_tag(:finish_airport_id, "To:") %>
	<%= select_tag(:finish_airport_id, options_for_select(@airport_options)) %>

	<%= label_tag(:start_time, "Departure Day") %>
	<%= select_tag(:start_time, options_for_select(@available_dates)) %>

	<%= label_tag(:num_tickets, "Number of Passengers") %>
	<%= select_tag(:num_tickets, options_for_select([["1",1],["2",2],["3",3],["4",4]])) %>





	<%= submit_tag("Search") %>
	
<% end %>

<% if @flights != nil%>
	<h2>Search Results</h2>

	<%= form_tag('/bookings/new', method: "get") do %>
		
		<% @flights.each do |flight| %>

			From: <%= flight.start_airport.code %>, To: <%= flight.finish_airport.code %>, On: <%= flight.start_date_formatted %>, At: <%= flight.start_time.strftime("%H:%M") %> <%= params[:num_tickets] %>
			<%= radio_button_tag(:flight_id, flight.id) %>  
			<br>

				
		<% end %>
		<%= hidden_field_tag(:num_tickets, params[:num_tickets]) %>
		<%= submit_tag("Book Flight") %>
	<% end %>
<% end %>